@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#main-header{
    background: linear-gradient(to right, #fff1e6 0%, #ddbea9 100%);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#main-header ul{
    margin-right: auto;
    display: flex;
}

#main-header ul li{
    list-style: none;
    margin-right: 1rem;
    font-weight: bold;
}

#main-header h2{
    font-family: 'Spectral SC', serif;
    margin-left: 1rem;
}


#main-header ul li a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;

}

#main-header ul li a:hover{
    color: black;
}

#main-header ul li .menu-item-active{
    color: black;
}