*{
    box-sizing: border-box;
}

html{
    font-size: 20px;
}

#main-wrapper header{
    text-align: center;
}

#main-wrapper header label{
    display: block;
}

#input-box{
    caret-color: black;
    text-align: right;
    outline: none;
    width: fit-content;
    color: deepskyblue;
    line-height: 1.5;
    font-size: 25px;
}

.wrong{
    text-decoration: line-through;
}

#input-box-wrapper{
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 2rem;
}

#text-box{
    white-space: pre;
    max-width: 50%;
    overflow: hidden;
    line-height: 1.5;
    font-size: 25px;
}

[contenteditable="true"].single-line {
    white-space: nowrap;
    width:200px;
    overflow: hidden;
}
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}

#previous-box span{
    margin: 0 0.2rem;
    color: gray;
    line-height: 1.5;
    font-size: 25px;
}