.modal-wrapper{
    /*Hidden by default*/
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: calc(100% - 8px);
    overflow: hidden;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    background: whitesmoke;
    top: 25%;
    position: fixed;
    width: fit-content;
    width: -moz-fit-content;
    padding: 0 2rem;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 10px;
    font-size: 1.5rem;
}

.modal-close{
    float: right;
    margin: 0 -1.7rem;
    color: red;
    font-weight: bold;
    cursor: pointer;
    font-family: cursive;
}

.modal-button{
    border: unset;
    font-size: 1rem;
    background-color: #b7b7a4;
    border-radius: 6px;
    margin-bottom: 0.1rem;
    outline: none;
    cursor: pointer;
}

#modal-wpm:after{
     content: " words / minute";
}

#modal-accuracy:after{
    content: " %";
}

#error-message{
    color: red;
}